.trending-image{
    width: 250px;
    height: 250px;
}
.trending-wrapper{
    text-align: center;
}
.trending-wrapper{
    margin-top: 30px;
    padding: 20px;
}
.des1{
    text-align:left;
}
.des1 h6, h4{
    margin-top: 5px;
}

.remove{
    margin-top: 5px;
}
.btnOrder{
  
   
}
.container{
    border-radius: 15px;
}
.price h5{
    margin-top: 5px;
    
}

.cart_divider{
    border-bottom: 1px solid black;
    margin-top:20px;
    padding-bottom:20px;
}
.search-item:hover{
   background-color: rgb(247, 243, 235);
   border-radius: 15px;
} 