






:root{
    /* ===== Colors ===== */
    --body-color: #efe8edf5;
    --sidebar-color: #FFF;
    --primary-color: #00a096;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;


}

